@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* RESET STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLE DECLARATIONS */

:root {
    /* COLOR */
    --LIGHTCOLOR: white;
    --DARKCOLOR: black;
    --SEC_COLOR: red;
    /* FONT PROPERTY */
    --FAMILY: 'Times New Roman', Times, serif;
    --ALTFAMILY: 'Satisfy', cursive; 
    --SIZE: 2rem;
    --XLSIZE: 3rem;
}


body {
    font-family: var(--FAMILY);
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
}

.background {
    min-height: 100vh;
    background-image: url(../Images/INVERTED_TEXT.png);
    background-size: 100% 100%;
    transition: background-image 2s;
    grid-column: 1/4;
}

.background:hover {
    background-image: url(../Images/FINELINEEEEEEEEEEEEEEEEEEEEEE.png);
    background-size: 100% 100%;
    transition: background-image 2s;
}

.header {
    grid-column: 2/3;
    font-size: var(--SIZE);
    color: var(--LIGHTCOLOR);
    text-align: center;
}

.header__h1{
    font-family: 'Black Ops One', cursive;
    font-size: var(--XLSIZE);
    background-image: linear-gradient(to top,var(--DARKCOLOR),var(--LIGHTCOLOR),var(--DARKCOLOR));
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    color: transparent;
}
.header__p{
    position: absolute;
    bottom: 7rem;
    left: 25rem;
    font-family: var(--FAMILY);
    font-weight: bolder;
    background-image: linear-gradient(to top,var(--LIGHTCOLOR),var(--SEC_COLOR),var(--LIGHTCOLOR));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.figure{
    width: 35%;
}
.figure__img{
    width: 100%;
    /* grid-column: 2/3; */
    position: absolute;
    top: 0.3rem;
    animation: anime 10s linear 0.1s 5; 
}

 @keyframes anime {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.footer{
    font-size: small;
    position: absolute;
    bottom: 0;
    color: var(--DARKCOLOR);
    font-family: var(--ALTFAMILY);
}