/* RESET STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLE DECLARATIONS */

:root {
    /* COLOR */
    --LIGHTCOLOR: white;
    --DARKCOLOR: black;

    /* FONT PROPERTY */
    --FAMILY: 'Times New Roman', Times, serif;
    --ALTFAMILY: monospace; 
    --SIZE: 2rem;
    --XLSIZE: 3rem;
}


body {
    font-family: var(--FAMILY);
}

.background {
    min-height: 100vh;
    background-image: url(../Images/INVERTED_TEXT.png);
    background-size: 100% 100%;
    transition: background-image 0.1s;
}

.background:hover {
    background-image: url(../Images/FINELINEEEEEEEEEEEEEEEEEEEEEE.png);
    background-size: 100% 100%;
    transition: background-image 0.1s;
}

.header {
    font-size: var(--SIZE);
    color: var(--LIGHTCOLOR);
    text-align: center;
}

.header__h1{
    font-size: var(--XLSIZE);
    background-image: linear-gradient(to left,grey,white);
    -webkit-background-clip: text;
    text-transform: uppercase;
    color: transparent;
}
.header__p{
    font-weight: bolder;
    background-image: linear-gradient(to right,aqua,white);
    -webkit-background-clip: text;
    color: transparent;
}

.footer{
    text-transform: uppercase;
    font-size: small;
    position: absolute;
    bottom: 0;
    color: var(--DARKCOLOR);
    font-family: var(--ALTFAMILY);
}